.logo {
    text-decoration: none;
    color: rgb(205, 182, 193);
}

.Nav-Bar {
    background-color: rgb(174, 75, 75);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Tittle-NavBar {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Option, .ActiveOption {
    border-radius: 12px;
    background-color: rgb(205, 182, 193);
    margin: 10px;
    height: 20px;
    font-weight: bolder;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    line-height: 20px;
    padding: 10px;
    color: rgb(174, 75, 75);
    transition: background-color 0.3s ease;
    padding: 5px 10px;
}

.Option:hover, .ActiveOption {
    background-color: #eee;
}

.CartWidget {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(205, 182, 193);
    font-weight: bold;
}

.CartImg {
    width: 50px;
}

.CartQuantity {
    margin-left: 5px;
    background-color: rgb(205, 182, 193);
    color: #333;
    padding: 3px 5px;
    border-radius: 5px;
}
  