.cart-icon {
    width: 1.5rem;
}

.logo {
    text-decoration: none;
}

.Nav-Bar {
    background-color: rgb(174, 75, 75);
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Option, .ActiveOption {
    border-radius: 12px;
    background-color: rgb(205, 182, 193);
    margin: 10px;
    height: 20px;
    font-weight: bolder;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
    line-height: 20px;
    padding: 10px;
}

